@import play.Play

@(navbarBrand: Html)(logoutUrl: String)


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            @navbarBrand
            </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                        <li><a href="@routes.Application.mapPage()">Mapa</a></li>
                        <li><a href="@routes.RutaController.verRutas()">Mis Rutas</a></li>
                        <li><a href="@routes.RutaController.verRecorridos()">Mis Recorridos</a></li>
                        @if(Boolean.parseBoolean(Play.application().configuration().getString("historialViajes"))) {
                            <li><a href="@routes.RutaController.verViajes()">Mis Viajes</a></li>
                        }
                        @if(Boolean.parseBoolean(Play.application().configuration().getString("comunicacion.gestionamigos"))) {
                            <li><a href="@routes.Account.getAmigos()">Mis Amigos</a></li>
                        }
                        @if(Boolean.parseBoolean(Play.application().configuration().getString("configuracionBicicleta"))) {
                            <li><a href="@routes.ConfBicicletasController.inicializar()">Configurar Bicicleta</a></li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="@routes.Application.userPage()">Mi Cuenta</a></li>
                    </ul>

            <form class="navbar-form navbar-right" action="">
                <a href="@logoutUrl" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span>Cerrar sesión
                </a>
            </form>

        </div><!--/.nav-collapse -->
    </div>
</nav>