    @import navbar._
    @import models.entities._
    @basicEmptyBootstrap{

        <meta name="description" content="">
        <meta name="author" content="">
        <title>BiciApps</title>
        <link href="@routes.Assets.versioned("stylesheets/signin.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("stylesheets/dataTables.jqueryui.min.css")" rel="stylesheet">

    } {

        @clientLoggedInNavbar()

    <style>
    #ger-originSelect, #ger-addPerson {
    margin-top: 7px;
    color: #7CC33C;
    background: none;
    border: none;
    }
    </style>

        <br>

        <div style="padding-left: 3em;">
            <h2>Mis amigos</h2>
        </div>
        <div id="resOk" class="alert alert-success" style="padding-left: 3em !important; width: 400px;"> </div>
        <div id="resError" class="alert alert-danger" style="padding-left: 3em !important;  width: 400px;"> </div>
        <br/>

        <div class="form-group" style="padding-left: 5em;">
            <label class="control-label" for="grupo">Agregar amigos</label>
            <button id="ger-addPerson" type="button" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>

        <div id = "tablaAmigos" style="width: 800px !important; padding-left: 5em;">
            <table id="contacts_table" class="display">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Correo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 3</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Agregar amigos</h4>
                    </div>
                    <div class="modal-body">

                            <table id="addContacts_table" class="display">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Row 1 Data 1</td>
                                        <td>Row 1 Data 2</td>
                                        <td>Row 1 Data 3</td>
                                        <td>Row 1 Data 4</td>
                                    </tr>
                                </tbody>
                            </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/amigo.js")"></script>

        <script type="text/javascript">
        $(document).ready(function() {
        console.log( "ready!" );
        $("#resOk").hide();
        $("#resError").hide();

         $('#contacts_table').dataTable( {
            "bAutoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "scrollY": "200px",
            "width" : "400px",
            "scrollCollapse": true,
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": true,
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                "defaultContent": "<button>Dejar de ser amigo</button>"
            } ],
            "sAjaxSource": "@routes.Account.getAmigos1()"
            });


         $('#addContacts_table').dataTable( {
            "bAutoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "scrollY": "200px",
            "width" : "400px",
            "scrollCollapse": true,
            "bProcessing": true,
            "bServerSide": true,
            "bJQueryUI": true,
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                "defaultContent": "<button>A&#241;adir amigo</button>"
            } ],
            "sAjaxSource": "@routes.Account.getAddAmigos()"
            });
        });

        $('#contacts_table tbody').on('click', 'button', metodoDejarAmigoClick);
        $('#addContacts_table tbody').on('click', 'button', metodoClick);




        </script>
    }
