    @import navbar._
    @import models.entities._
    @(formData: Form[User])

    @basicEmptyBootstrap{

        <meta name="description" content="">
        <meta name="author" content="">
        <title>BiciApps</title>
        <link href="@routes.Assets.versioned("stylesheets/signin.css")" rel="stylesheet">

    } {

        @clientUnloggedNavbar()

        <br>

        <div class="container">
            <h2>Cambiar mis datos</h2>
            <br>
            <form class="form-horizontal" role="form" action="@routes.Account.editarUsuario()" method="POST">
                @if(flash.containsKey("error")) {
                    <div class="alert alert-danger" role="alert">@flash.get("error")</div>
                }

                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombres">Nombres:</label>
                        <div class="col-md-4">
                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" value="@formData("nombres").value" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" value="@formData("apellidos").value" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="sexoOculto" name="sexoOculto" value="@formData("sexo").value"  >
                    <label class="control-label col-sm-2" for="apellidos">Sexo:</label>
                    <div class="col-md-4">
                        <input type="radio" id="masc" name="sexo" value="masculino" checked>Masculino
                        <br>
                        <input type="radio" id="feme" name="sexo" value="femenino">Femenino
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Usuario:</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Correo electr&#243;nico" value="@formData("email").value" readonly  required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Contrase&#241;a:</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Contrase&#241;a" onchange="validarContrasena();">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd1">Confirmar contrase&#241;a:</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="pwd1" name="pwd1" placeholder="Confirmar contrase&#241;a" onkeyup="validarContrasena();">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox"> No cerrar sesi&#243;n</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Editar" class="btn btn-default">
                    </div>
                </div>
            </form>
        </div> <!-- /container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/inicioSesion.js")"></script>
    }
