@()

@import navbar._
@import com.feth.play.module.pa.views.html._
@import play.Play

@basicEmptyBootstrap {

    <meta name="description" content="">
    <meta name="author" content="">
    <title>BiciApps</title>
    <link href="@routes.Assets.versioned("stylesheets/signin.css")" rel="stylesheet">

} {

    @clientUnloggedNavbar()

    <div class="container sm3">


        <form class="form-signin" action="@routes.Account.login()" method="POST">
            <h2 class="form-signin-heading">Inicia sesi&#243;n</h2>
            @if(flash.containsKey("error")) {
                <div class="alert alert-danger" role="alert">@flash.get("error")</div>
            }
            <label for="inputEmail" class="sr-only">Correo electr&#243;nico</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo electr&#243;nico" name="email" required autofocus>
            <label for="inputPassword" class="sr-only">Contrase&#241;a</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contrase&#241;a" name="pwd" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> No cerrar sesi&#243;n
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
            <a href="@routes.Account.registerPage">Abrir cuenta</a>
            <br/>
            @if(Boolean.parseBoolean(Play.application().configuration().getString("redessociales.redessociales"))) {
                <div class="row">
                    <div class="row">
                        <hr style="border-top : 1 px solid #ccc !important ;"/>
                    </div>
                    <div class="row" align="center">
                        <h3>Inicia sesi&#243;n con otro servicio</h3>
                    </div>
                    <br/>
                    <div class="row">
                    @if(!Boolean.parseBoolean(Play.application().configuration().getString("redessociales.facebook")) &&
                            !Boolean.parseBoolean(Play.application().configuration().getString("redessociales.twitter"))) {
                        <div class="row" align="center">
                            <h5 style="color: red;">Configuraci&#243;n no v&#225;lida para autenticarse con redes sociales</h5>
                        </div>
                    } else {
                        @forProviders() { p =>
                            @if(p.getKey().equalsIgnoreCase("facebook") &&
                                    Boolean.parseBoolean(Play.application().configuration().getString("redessociales.facebook"))) {
                                <div class="col-md-6" align="center">
                                    <a href="@p.getUrl()">
                                        <img style="cursor : pointer" src="@routes.Assets.versioned("images/FB_100.png")" alt="Facebook" title="Facebook" width="42" height="42">
                                    </a>

                                </div>
                            } else {
                                @if(p.getKey().equalsIgnoreCase("twitter") &&
                                        Boolean.parseBoolean(Play.application().configuration().getString("redessociales.twitter"))) {
                                    <div class="col-md-6" align="center">
                                        <a href="@p.getUrl()">
                                            <img style="cursor : pointer" src="@routes.Assets.versioned("images/TwitterLogo.png")" alt="Twitter" title="Twitter" width="42" height="42">
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }
                    </div>
                    <div class="row">
                        <hr style="border-top : 1 px solid #ccc !important ;"/>
                    </div>
                </div>
            }

        </form>
    </div> <!-- /container -->
}
