@(message: String)

@import navbar._

@basicEmptyBootstrap{

    <meta name="description" content="">
    <meta name="author" content="">
    <title>BiciApps</title>
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">

} {

	<style> 
		<!-- #main { width:100%; }
		.column { padding:1px; margin-right:1px; width:150px; float:left; }  
		--> 
	</style> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	    $("#montana").click(function(){
	        document.getElementById("tipoMarco").style.visibility = "visible";      
	    });
	    $("#ruta").click(function(){
	        document.getElementById("tipoMarco").style.visibility = "hidden";
	    });
	    $("#cross").click(function(){
	        document.getElementById("tipoMarco").style.visibility = "hidden";
	    });
	    
	    $("#montana").click(function(){
	        document.getElementById("tenedor").style.visibility = "visible";      
	    });
	    $("#ruta").click(function(){
	        document.getElementById("tenedor").style.visibility = "hidden";
	    });
	    $("#cross").click(function(){
	        document.getElementById("tenedor").style.visibility = "visible";
	    });
	    
	    $("#montana").click(function(){
	        document.getElementById("tipoLlanta").style.visibility = "visible";      
	    });
	    $("#cross").click(function(){
	        document.getElementById("tipoLlanta").style.visibility = "visible";
	    });
	    $("#ruta").click(function(){
	        document.getElementById("tipoLlanta").style.visibility = "hidden";
	    });
	    
	    
	    $("#montana").click(function(){
	        document.getElementById("3disco").style.visibility = "visible";      
	    });
	    $("#cross").click(function(){
	        document.getElementById("3disco").style.visibility = "hidden";
	    });
	    $("#ruta").click(function(){
	        document.getElementById("3disco").style.visibility = "hidden";
	    });
	    
	    $("#montana").click(function(){
	        document.getElementById("2disco").style.visibility = "visible";      
	    });
	    $("#cross").click(function(){
	        document.getElementById("2disco").style.visibility = "hidden";
	    });
	    $("#ruta").click(function(){
	        document.getElementById("2disco").style.visibility = "visible";
	    });
	    
	});
	</script>
	
    @clientUnloggedNavbar()
    <div class="jumbotron">
        <div class="container">
            <h2>Configurar Bicicleta</h2>
        </div>
    </div>

    <div class="container">
    
    		<form class="form-horizontal" role="form"
    			action="@routes.ConfBicicletasController.registrar()" method="POST">
			   	<div class="form-group">
	                <label class="control-label col-sm-2" for="pwd">Tienda de Preferencia: </label>
	                <div class="col-sm-10">
	                    <select name="opciones" size="1">	
							<option value="1">Cannondale</option> 
							<option value="2">Bike House Bogota</option> 
							<option value="3">Bicicletas Strongman</option> 
						</select> 
	                </div>
	            </div>
	            
	            <div id="tipoBicicleta" class="column">	          
					    <br>Tipo de Bicicleta<br/> 
					    <input type="radio" name="tipoBicicleta" id="montana" value="montana" checked/><label for="montana">Monta&#241;a</label><br />
					    <input type="radio" name="tipoBicicleta" id="ruta" value="ruta" /><label for="ruta">Ruta</label><br />				
						<input type="radio" name="tipoBicicleta" id="cross" value="cross" /><label for="cross">Cross</label><br />							
				</div>
				
				<div id="aleacion" class="column">			    
					    <br>Aleaci&#243;n<br/> 
						<input type="radio" name="aleacion" id="aluminio" value="aluminio" checked /><label for="aluminio">Aluminio</label><br />
						<input type="radio" name="aleacion" id="fibra" value="fibra"/><label for="fibra">Fibra de Carbon</label><br /> 				    								
				</div>	
					
				<div id="rines" class="column">					     
				    <br>Rines<br/>
					<input type="radio" name="rines" id="radial" value="radial" checked /><label for="radial">Radiales</label><br />
					<input type="radio" name="rines" id="doblePared" value="doblePared"/><label for="doblePared">Dobre Pared</label><br />
					<input type="radio" name="rines" id="selloMatic" value="selloMatic"/><label for="selloMatic">Sellomatic</label><br /> 				    								
				</div>
				
				<div id="bielas" class="column">				     
				    <br>Bielas<br/>
				    <input type="radio" name="bielas" id="1disco" value="1disco" checked/><label for="1disco">1 Disco</label><br />
					<input type="radio" name="bielas" id="2disco" value="2disco"/><label for="2disco">2 Discos</label><br />
					<input type="radio" name="bielas" id="3disco" value="3disco"/><label for="3disco">3 Discos</label><br />   				    								
				</div>	
				
				<div id="tipoMarco" class="column">
					<br>Marco<br/> 
					<input type="radio" name="tipoMarco" id="rigido" value="rigido" checked /><label for="rigido">Tijera Rigida</label><br />					
					<input type="radio" name="tipoMarco" id="susp" value="susp"  /><label for="susp">Suspensi&#243;n</label><br />					
				</div>
				
				<div id="tenedor" class="column">	     
				    <br>Tenedor<br/>
					<input type="radio" name="tenedor" id="tenedorRigido" value="tenedorRigido" checked /><label for="tenedorRigido">Rigido</label><br />
					<input type="radio" name="tenedor" id="tenedorSuspension" value="tenedorSuspension"/><label for="tenedorSuspension">Suspensi&#243;n</label><br />
				</div> 	
				
				<div id="tipoLlanta" class="column">		     
					 <br>Tipo Llanta<br/>
					 <input type="radio" name="tipoLlanta" id="grabado" value="grabado" checked /><label for="grabado">Grabado</label><br />
					 <input type="radio" name="tipoLlanta" id="pistera" value="pistera"/><label for="pistera">Pistera</label><br />  				    								
				</div>	
        
				   <div class="form-group"></div>
						
				   <div id="accesorios" class="form-group">	
				   		<label class="control-label col-sm-2" for="pwd">Accesorios</label>
			   	   		<div class="col-sm-offset-2 col-sm-10">	           									
							<input type="checkbox" name="accesorio1" value="luzDelantera" /> Luz Delantera
						</div>					
						<div class="col-sm-offset-2 col-sm-10">		
							<input type="checkbox" name="accesorio2" value="luzStop" /> Luz de Stop
						</div>					
						<div class="col-sm-offset-2 col-sm-10">	
							<input type="checkbox" name="accesorio3" value="guardaBarros" /> Juego de Guardabarros	
						</div>	
				   </div>								
					
		           <div class="form-group">
		               <label class="control-label col-sm-2" for="pwd">Nombre Personalizado</label>
		               <div class="col-sm-10">
		                   <input id="nombrePersonalizado" 
		                   name="nombrePersonalizado" 
		                   class="form-control" 
		                   placeholder="Nombre Personalizado para su Bicicleta" required>
		               </div>
		           </div>
		               
	               <div class="form-group">
				        <div class="col-sm-offset-2 col-sm-10">
				            <input type="submit" value="Crear y Enviar" class="btn btn-default">
				        </div>
				    </div> 											
										
		    </form>

	
    </div>        
}