@(message: String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      	html, body {
	        height: 100%;
	        margin: 0;
	        padding: 0;
      	}
      	#map {
            width: 80%;
		    min-height: 400px;
		    margin: auto;
      	}
    </style>
</head>
<body>
    @message
    <button id="ger-originSelect">
    	Seleccionar origen
    </button>
    <button id="ger-destinySelect">
    	Seleccionar destino
    </button>
	<div id="map"></div>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWH8xrMZewAIVlQwc5bCkUxX-Y6bQ9uV0&signed_in=true&callback=initMap"
        async defer>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script>
  		var poly;
  		var drawingState = "empty";
  		var originMarker;
  		var destinyMarker;
  		var map;
  		var directionsDisplay;
		var directionsService;
	  	// Init the map

		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
		    	center: {lat: 4.6097100 , lng: -74.0817500},
		    	zoom: 12
		  	});
		  	directionsService = new google.maps.DirectionsService;
  			directionsDisplay = new google.maps.DirectionsRenderer;
  			directionsDisplay.setMap(map);
		  	//var bikeLayer = new google.maps.BicyclingLayer();
			//bikeLayer.setMap(map);
		  	var infoWindow = new google.maps.InfoWindow({map: map});
			poly = new google.maps.Polyline({
			    strokeColor: '#000000',
			    strokeOpacity: 1.0,
			    strokeWeight: 3
			});
			poly.setMap(map);

			// Add a listener for the click event
			map.addListener('click', mapClicked);
			$("#ger-originSelect").click(originSelection);
			$("#ger-destinySelect").click(destinySelection);
		  	// Try HTML5 geolocation.
			if (navigator.geolocation) {
			    navigator.geolocation.getCurrentPosition(function(position) {
				    var pos = {
			        	lat: position.coords.latitude,
				        lng: position.coords.longitude
				    };

		      		infoWindow.setPosition(pos);
		      		infoWindow.setContent('Location found.');
		      		map.setCenter(pos);
		    	}, function() {
		      		handleLocationError(true, infoWindow, map.getCenter());
		    	});
		  	} else {
		    // Browser doesn't support Geolocation
		    handleLocationError(false, infoWindow, map.getCenter());
		  }
		}

		function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		 	infoWindow.setPosition(pos);
		  	infoWindow.setContent(browserHasGeolocation ?
		                        'Error: The Geolocation service failed.' :
		                        'Error: Your browser doesn\'t support geolocation.');
		}

		// Handles click events on a map, and adds a new point to the Polyline.
		function mapClicked(event) {
			if (drawingState=="originToDraw"){
				if(typeof destinyMarker !== 'undefined'){
					originMarker.setMap(null);
				}
			  	// Add a new marker at the new plotted point on the polyline.
			  	originMarker = new google.maps.Marker({
			    	position: event.latLng,
			    	title: 'origen',
			    	map: map
			  	});
			  	
			  	console.log("origin drawed");

			}
			if (drawingState=="destinyToDraw"){
				if(typeof destinyMarker !== 'undefined'){
					destinyMarker.setMap(null);
				}
			  	// Add a new marker at the new plotted point on the polyline.
			  	destinyMarker = new google.maps.Marker({
			    	position: event.latLng,
			    	title: 'destino',
			    	map: map
			  	});
			  	console.log("destiny drawed");
			  	//removeRoute(); //Remove current route
			  	drawRoute();

			}
			var route = poly.getPath();
			//route.push(event.latLng);

		}
		function drawRoute(){
			calculateAndDisplayRoute(directionsService, directionsDisplay);

		}

		function calculateAndDisplayRoute(directionsService, directionsDisplay) {
		  

		  directionsService.route({
		    origin: originMarker.position,
		    destination: destinyMarker.position,
		    travelMode: google.maps.TravelMode.DRIVING
		  }, function(response, status) {
		    if (status === google.maps.DirectionsStatus.OK) {
		      directionsDisplay.setDirections(response);
		      var route = response.routes[0];
		    } else {
		      window.alert('Directions request failed due to ' + status);
		    }
		  });
		}
		function callbackPlace(){
			console.log("Holaaa");
		}
		function removeMarkers(){
			originMarker.setMap(null);
			destinyMarker.setMap(null);
		}
		function removeRoute() {
			route.setMap(null);
		}
		function originSelection(){
			drawingState = "originToDraw";
			console.log("originReady");
		}
		function destinySelection(){
			drawingState = "destinyToDraw";
			console.log("destinyReady");
		}
    </script> 
    <hr>
	<a href="@routes.Account.editarPerfilPage">Editar cuenta</a>
	<a href="@routes.Account.getAmigos">Amigos</a>
    <a href="@routes.Account.logout()">Log out</a>
</body>
</html>
