@import models.entities.Ruta
@(rutas : List[Ruta])

@import navbar._

@basicEmptyBootstrap{

    <meta name="description" content="">
    <meta name="author" content="">
    <title>BiciApps</title>

} {

	@clientLoggedInNavbar()
	<style>
		td {
			font-size: 10px;
		}
		th {
			font-size: 12px;
		}
		td, th {
			text-align: center;
		}
	</style>
    <div class="jumbotron">
        <div class="container">
            <h2>Mis Rutas</h2>
        </div>
    </div>
    <div id="container">
	    <table class="table"> 
	    	<tr>
		  		<th>Origen</th>
		  		<th>Destino</th>
		  		<th>-</th>
		  	</tr>
			@for(ruta <- rutas) {
			  	<tr>
			  		<td>@ruta.nombreOrigen</td>
			  		<td>@ruta.nombreDestino</td>
			  		<td><a href='@routes.RutaController.verDetalleRuta(ruta.id.toString())'>Ver Ruta<a></td>
			  	</tr>
			} 
		</table>
	</div>

}
