@(message: String)

@import navbar._

@basicEmptyBootstrap{

    <meta name="description" content="">
    <meta name="author" content="">
    <title>BiciApps</title>

} {

    @clientUnloggedNavbar()

    <style>
    .ger-img-container img {
    min-width : 30 % ;
    width : 800 px ;
    max-width : 90 % ;
    }
    .ger-img-container {
    width : 100 % ;
    text-align : center ;
    }
    .accesos{

    }

    </style>

    @clientUnloggedNavbar()
    <div class="jumbotron">
        <div class="container">
            <h2>Mi Cuenta</h2>
        </div>
    </div>
    <div class="container">

        <div class="information">
            <div class="form-group">
                    <label class="control-label col-sm-2" for="nombres">Nombres</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="usuario">Usuario:</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="usuario" name="usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellidos">Kilometros Recorridos</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="apellidos">Ruta Favorita</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Editar Cuenta" class="btn btn-default">
                    </div>
                </div>
        </div>

        </div>
        <div class="accesos">
           <form action="">
               <a href="" class="btn btn-success">Mis Amigos</a>
               <a href="@routes.Application.mapPage()" type="submit" class="btn btn-success">Mapa</a>
               <a href="/" type="submit" class="btn btn-success">Mis Eventos</a>
               <a href="/" class="btn btn-success">Mis Recorridos</a>
            </form>
        </div>


    </div>

}