@()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>Promoción en el contexto</h1>
    <p id="idUsuario"></p>
    @**routes.Store.getPromotion()*@
    <form action="">
    	Longitud: <br>
        <input id="lon" type="text" name="lon" value="4.603226">
        <br>
        Latitud: <br>
        <input id="lat" type="text" name="lat" value="-74.065188">
        <br>
        Distancia maxima: <br>
        <input id="maxDistancia" type="text" name="lat">
    </form>
    <button id="findPromotionsBtn" >Buscar Promociones</button>

    <ul id="listaPromociones"></ul>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/context.js")"></script>
</body>
</html>