@()

@import navbar._

@basicEmptyBootstrap{

    <meta name="description" content="">
    <meta name="author" content="">
    <title>BiciApps</title>
    <link href="@routes.Assets.versioned("stylesheets/signin.css")" rel="stylesheet">

} {
    @clientLoggedInNavbar()

    <div class="container">
        <div id="promotionsRow" class="row">
            <h1>Promociones</h1>
            <p id="idUsuario"></p>
            @**routes.Store.getPromotion()*@
            <form class="form-horizontal" role="form" action="">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lon">Longitud: </label>
                    <div class="col-md-4">
                        <input id="lon" type="text" name="lon" value="4.603226" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="lat">Latitud: </label>
                    <div class="col-md-4">
                        <input id="lat" type="text" name="lat" value="-74.065188" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="maxDistancia">Distancia maxima: </label>
                    <div class="col-md-4">
                        <input id="maxDistancia" type="text" name="lat" value="100" class="form-control">
                    </div>
                </div>
            </form>
            <div class="col-sm-offset-2 col-sm-4">
                <button id="findPromotionsBtn" class="btn btn-lg btn-primary btn-block">Buscar Promociones</button>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="col-sm-offset-2 col-sm-4">
                <ul id="listaPromociones"></ul>
            </div>
        </div>


	<div class="container">
        <div class="row">
            <h1>Notificaciones</h1>
            <p id="idUsuario"></p>
            @**routes.Store.getPromotion()*@
            <div class="col-sm-offset-2 col-sm-4">
                <button id="createNotifictionsBtn" class="btn btn-lg btn-primary btn-block">Nueva Notificacion</button>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <button id="findNotifictionsBtn" class="btn btn-lg btn-primary btn-block">Notificaciones</button>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="col-sm-offset-2 col-sm-4">
                <ul id="listaNotificaciones"></ul>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    @**<script src="@routes.Assets.versioned("javascripts/notifications.js")"></script>*@
    <script data-main="assets/javascripts/contextPage" src="@routes.Assets.versioned("javascripts/require.js")"></script>
}
